.header {
  background-color: white;
  display: flex;
  padding: 10px;
  width: 100%;
  color: #3385ff;
  font-family: Calibri;
  font-weight: bold;
  justify-content: center;
  height: 5vh;
  flex-direction: row;
  border-bottom: 1px solid antiquewhite;
}

.title {
  justify-items: stretch;
  display: flex;
  min-height: 5vh;
}

.navigate {
  flex: 1;
  color: #3385ff;
}

.navigate:hover {
  flex: 1;
  color: white;
}

.currentDate {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.navigateButton {
  padding: 2px 6px 2px 6px;
  margin-bottom: auto;
}

.navigateButton:hover {
  background-color: #3385ff;
  padding: 2px 6px 2px 6px;
  border-radius: 50%;
  margin-bottom: auto;
  color: white;
}
